extends layout 
block content
    h2 Student Detail
    p #{student.name}

    h3 Booking history 
    if student.bookings.length 
        each booking in student.bookings 
            li Study #{booking.subject} with #{booking.teacher.name} 
    else 
        p No bookings



